a{
    color:black;
}

.page-container {
background-color: rgb(241, 221, 239);
}

.port-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-left: 270px;
    margin-right: 270px;
}

img:hover{
    opacity:1;
} 

h1{
    padding-top: 100px;
}

.portfolio-project img {
    height: 220px;
    width: 450px;
}

 .portfolio-project {
    border-radius: 20px;
    height: 220px;
    width: 450px;
    }
    
 .portfolio-project:first-child {
    flex-grow: 1;
    width:100%;
    margin-bottom:10px;
}
.portfolio-project:first-child img{
    flex-grow: 2;
    width:100%;
    margin-bottom:10px; 
} 
#project2,
#project4 {
    margin-bottom: 10px;
    margin-right: 8px;
} 